/.idea
/nbproject
/.htaccess
/_ss_environment*
!/_ss_environment_default.php
!/_ss_environment_ci.php
/assets/*
!/assets/.htaccess
/framework/
/silverstripe-cache/
/bootstrap_extra_fields
/bootstrap_flash_message
/bootstrap_navbar_loginform
/bootstrap_orderable_frontend
/extended-file
/extended-image
/extended-date
/geoform
/geolocation
/legacyfields
/minify
/mobile_detector
/session_extender
/smtpmailer
/themes
/vendor
/RESOURCES
/debug.log
.DS_Store
*.retry
